<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


</div>

<div>


<div style="width:500px;margin:0 auto;">
  <nav class="navbar navbar-light bg-faded">
    <a routerLink="/products">List products</a>
    <span class="badge badge-pill badge-info" [hidden]="isAdmin">User account</span>
    <span class="badge badge-pill badge-warning" [hidden]="isAdmin === false">Admin account</span>

    <button class="btn btn-secondary" (click)="setLoginAdmin()" [hidden]="isAdmin">Switch to admin</button>
    <button class="btn btn-secondary" (click)="setLoginUser()" [hidden]="isAdmin === false">Switch to user</button>
  </nav>
  <div class="jumbotron">


    <router-outlet></router-outlet>
    <div style="clear:both;">
      <messages></messages>
    </div>
  </div>
</div>


</div>


<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
